<div ng-controller="TranslationController">
  <md-content layout="column" class="translation" layout-align="space-between">
    <div class="input-wrapper">
      <md-input-container>
      <label>English</label>
      <input ng-model="first" ng-change="translateFirst()">
    </md-input-container>
    <md-input-container>
      <label>Hebrew</label>
      <input ng-model="second" ng-change="translateSecond()">
    </md-input-container>
    </div>
    <md-divider></md-divider>
    <div class="footer" layout="row">
      <md-button ng-click="open()" class="md-primary" flex layout="row" layout-align="space-between center">
        <i class="mdi mdi-web"></i><span>Open in Google Translate</span>
      </md-button>
    </div>
  </md-content>
</div>