// injector
@import 'app.less';
// endinjector

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  margin: 0;
}

iframe{
  border: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.widget {
  width: 100%;
  height: 100%;
}