html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../../content/background.jpg");
  margin: 0;
}

iframe{
  border: none;
}

.desktop {
  position: relative;
}
// injector
@import 'dips/dips.less';
@import 'taskbar/taskbar.less';
// endinjector