html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: transparent!important;
}

.movie-list, .settings, .overlay {
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: all ease 0.3s;

}

.movie-list.ng-hide,
.overlay.ng-hide{
  opacity: 0;
  transform: scale(0,0);
}

.movie-list .chosen-movie {
  height: 45%;
  min-height: 64px;
  background-position: center;
  background-size: cover;
}

.movie-list .chosen-movie {
  color: white;
  font-weight: 300;

}

.movie-list .chosen-movie .loader {
  background: white;
  opacity: 1;
}

.movie-list .chosen-movie .loader.ng-hide-add.ng-hide-add-active,
.movie-list .chosen-movie .loader.ng-hide-remove.ng-hide-remove-active {
  transition: all ease 0.3s;
}

.movie-list .chosen-movie .loader.ng-hide-remove.ng-hide-remove-active {
  transition-delay: 0.3s;
}

.movie-list .chosen-movie .loader.ng-hide {
  opacity: 0;
  transform: scale(0,0);
}

.movie-list .chosen-movie .backdrop {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 20%,rgba(0,0,0,0.26) 55%,rgba(0,0,0,0.47) 100%);
  padding: 8px;
  position: relative;
  height: 100%;
}

.movie-list .chosen-movie .backdrop .settings-button {
  opacity: 0.7;
  font-size: 20px;
}

.movie-list .chosen-movie .backdrop.ng-hide-add.ng-hide-add-active,
.movie-list .chosen-movie .backdrop.ng-hide-remove.ng-hide-remove-active {
  transition: all ease 0.3s;
}

.movie-list .chosen-movie .backdrop.ng-hide-remove.ng-hide-remove-active {
  transition-delay: 0.3s;
}

.movie-list .chosen-movie .backdrop.ng-hide {
  opacity: 0;
  height: 0;
}

.movie-list .chosen-movie .backdrop .title {
  font-size: 1.8em;
  font-style: italic;
}

.movie-list .chosen-movie .backdrop .description {
  font-size: 1em;
}

.movie-list .chosen-movie .backdrop .md-fab {
  position: absolute;
  bottom: -20px;
  right: 8px;
}

.movie-list .other-movies {
  overflow-y: auto;
}

.movie-list .other-movies .title .md-button {
  text-align: initial;
}

.settings #file-input {
  display: none;
}

.settings .directory {
  color: rgba(0,0,0,0.6)!important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(47, 47, 47, .3);
  border: none;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(47, 47, 47, .5);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(47, 47, 47, .8);
}
::-webkit-scrollbar-track {
  background: rgba(194, 194, 194, 0);
  border: none;
}
::-webkit-scrollbar-track:hover {
  background: rgba(194, 194, 194, .5);

}
::-webkit-scrollbar-track:active {
  background: rgba(194, 194, 194, .8);

}