<div ng-controller="MovieListController">
  <div layout="column" class="movie-list">
    <div class="chosen-movie md-whiteframe-z1" layout="column"
         style="background-image: url({{ chosenMovie.backdrop }});" flex>
      <div ng-show="loading" layout-fill layout="column" layout-align="center center" class="loader" flex>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <div ng-hide="loading" class="backdrop" layout="column" layout-align="end start" flex>
        <span class="title">{{ chosenMovie.title }}</span>
        <span class="description">{{ chosenMovie.response.imdbRating }} <i class="mdi mdi-star"></i></span>
        <md-button class="md-fab md-mini md-primary">
          <i class="mdi mdi-play"></i>
        </md-button>
      </div>
    </div>
    <div class="other-movies" flex>
      <div ng-repeat="movie in movies" layout="column">
      <div layout="row" class="title">
        <md-button flex ng-click="chooseMovie(movie)">{{ movie.title }} {{ movie.response.imdbRating }} <i class="mdi mdi-star"></i></md-button>
      </div>
    </div>
    </div>
  </div>
</div>