<div ng-controller="DipsController">
  <div>
    <input type="button" ng-click="gridsterOpts.draggable.enabled = !gridsterOpts.draggable.enabled" value="{{gridsterOpts.draggable.enabled ? 'Disable' : 'Enable' }} Draggability" />
    <input type="button" ng-click="gridsterOpts.resizable.enabled = !gridsterOpts.resizable.enabled" value="{{gridsterOpts.resizable.enabled ? 'Disable' : 'Enable' }} Resizability" />
  </div>
  <div gridster="gridsterOpts">
    <div ng-repeat="dip in dips" gridster-item="dip" class="md-whiteframe-z1">
      <div class="foreground" ng-if="isChanging"></div>
      <nch-iframe src="dip.path" class="widget"></nch-iframe>
    </div>
  </div>
</div>